old/*
output/*
unused/*
blendfiles
lib/*
.gitignore.bak
*.dia
*.dia~
videomaterials
data/*
*.bak
*__pycache__
*pyc
code_examples/*
ematoblender/code_examples/*
blender_objects/
test_sounds/
testing/
*.blend1
*.html
build
mesh
temp/*
.idea/
survey_objects/